<article class="post">
  <h3>{{title}}</h3>
  <div class="title">
          <img src = "uploads/{{pic}} ">
    {{!-- <span>({{ format_url post_url}})</span> --}}
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>