
<article class="post">
  <h3>{{title}}</h3>
  <div class="meta">
    Submitted by {{user.username}} on {{format_date created_at}}
  </div>
  <div class="title">
          <img src = "{{pic}}">
    {{!-- <span>({{ format_url post_url}})</span> --}}
  </div>
</article>
    